@charset "UTF-8";
/* Main */
.homepageBody {
  background: #c3cfe2;
  text-align: center;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.homepageBody__main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.homepageBody__header {
  -webkit-box-shadow: 5px 5px 10px 5px gray;
          box-shadow: 5px 5px 10px 5px gray;
  background: white;
  border-radius: 20px;
  margin: 0 50px;
}
.homepageBody__header .testimonial__header {
  color: gray;
  font-size: 20px;
  padding-bottom: 10px;
}

.homepageBody__aside {
  padding-top: 50px;
  margin: 0;
}

/* testimonial styling */
.testimonial__link {
  padding: 5px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0);
  background: rgba(128, 128, 128, 0);
  text-decoration: none;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.testimonial__top {
  background: white;
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 20px 20px 0px 0px;
  height: 200px;
}
.testimonial__top .testimonial__text {
  font-size: 20px;
  color: gray;
}

.testimonial__footer {
  background: #686de0;
  padding: 20px;
  margin-top: -65px;
  border-radius: 0px 0px 20px 20px;
  color: white;
}

.testimonial__name {
  margin-top: 50px;
  font-size: 24px;
  margin-bottom: -10px;
}

/* images styling */
.testimonial__img {
  height: 120px;
  border-radius: 50%;
  width: 120px;
  border: white 5px solid;
  margin: 0 90px;
  margin-top: -70px;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

/* transform */
.testimonial {
  border-radius: 20px;
  width: 300px;
  margin: 10px;
  -webkit-box-shadow: 5px 5px 10px 5px gray;
          box-shadow: 5px 5px 10px 5px gray;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
.testimonial:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
.testimonial:hover .testimonial__top {
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  background: rgba(0, 0, 0, 0.5);
}
.testimonial:hover .testimonial__footer {
  margin-top: 0;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  background: rgba(0, 0, 0, 0.5);
}
.testimonial:hover .testimonial__text {
  display: none;
}
.testimonial:hover .testimonial__link {
  color: black;
  background: gray;
}
.testimonial:hover .testimonial__img {
  display: none;
}

/* Social media buttons */
.homepageBody__aside {
  position: fixed;
  top: 20vh;
  right: 0;
  z-index: 4;
}

.aside__socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.aside__socialmedia img {
  width: 30px;
}

.aside__link {
  padding: 0px;
  margin-right: -5px;
}
.aside__link div {
  padding: 20px;
  margin-right: -5px;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  width: 1em;
}
.aside__link div:hover {
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.aside__link--pinterest {
  background: red;
}
.aside__link--pinterest .icon--pinterest {
  background-color: red;
}

.aside__link--facebook {
  background: #3b5998;
}
.aside__link--facebook .icon--facebook {
  background-color: #3b5998;
}

.aside__link--twitter {
  background: #00aced;
}
.aside__link--twitter .icon--twitter {
  background: #00aced;
}

.aside__link--linkedin {
  background: #007bb6;
}
.aside__link--linkedin .icon--linkedin {
  background-color: #007bb6;
}

/* CSS pseudo-element styling */
.aside__icon a:visited {
  text-decoration: none;
}

.icon--pinterest::before {
  content: "";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-style: normal;
  color: white;
  display: inline-block;
}

.icon--twitter::before {
  content: "";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-style: normal;
  color: white;
  display: inline-block;
}

.icon--facebook::before {
  content: "";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-style: normal;
  color: white;
  display: inline-block;
}

.icon--linkedin::before {
  content: "";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-style: normal;
  color: white;
  display: inline-block;
}

/* media query */
@media (min-width: 500px) {
  .homepageBody__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .homepageBody__header {
    margin: 0 100px;
  }
}
@media (min-width: 1000px) {
  .homepageBody__main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .homepageBody__header {
    margin: 0 200px;
  }
}
/*# sourceMappingURL=styles.css.map */