/* Main */

@mixin testimonialStyle {
  border-radius: 20px;
  width: 300px;
  margin: 10px;
  box-shadow: 5px 5px 10px 5px gray;
  align-self: center;
  justify-self: center;
}
@mixin readmore {
  padding: 5px;
  border-radius: 10px;
  display: unset;
  color: black;
  background: gray;
}
body {
  background: #c3cfe2;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

/* testimonial styling */

main a {
  display: none;
  transition: all 300ms ease-in; /*@NIELS, deze lijkt dus niks te doen*/
}
.testimonial__top {
  background: white;
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 20px 20px 0px 0px;
  height: 200px;
  & p {
    font-size: 20px;
    color: gray;
  }
}
.testimonial__footer {
  background: #686de0;
  padding: 20px;
  margin-top: -65px;
  border-radius: 0px 0px 20px 20px;
  color: white;
}
h3 {
  margin-top: 50px;
  font-size: 24px;
  margin-bottom: -10px;
}

/* images styling */

main img {
  height: 120px;
  border-radius: 50%;
  width: 120px;
  border: white 5px solid;
  margin: 0 90px;
  margin-top: -70px;
  transition: all 300ms ease-in;
}

/* transform */

.testimonial {
  @include testimonialStyle;
  transition: all 300ms ease-in; /*@NIELS, deze doet het wel goed*/
  &:hover {
    transform: scale(0.95);
    & .testimonial__top {
      transition: all 300ms ease-in; /*@NIELS, deze doet het wel goed*/
      background: rgba(0, 0, 0, 0.5);
    }
    & .testimonial__footer {
      margin-top: 0;
      transition: all 300ms ease-in; /*@NIELS, deze doet het wel goed*/
      background: rgba(0, 0, 0, 0.5);
    }
    & p {
      display: none;
    }
    & a {
      @include readmore;
      transition: all 300ms ease-in; /*@NIELS, deze lijkt dus niks te doen*/
    }
    & img {
      display: none;
      transition: all 300ms ease-in; /*@NIELS, deze lijkt dus niks te doen*/
    }
  }
}

/* media query */

@media (min-width: 500px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
